@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nanum+Gothic+Coding&display=swap');
body {
  body {
    background-image: url("../css/bg.png")
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
}
.header {
  background-color: #88dfd6;
  color: #145780;
  padding: 10px;
  text-align: center;
}
.container {
  height: 200px;
  width: auto;
  padding: 20px;
  margin: 10px;
  background-color: #88dfd6;
}
h1 {
  font-size: 50px;
  font-family: "Fraunces", serif;
  color: #145780;
  margin-top: 20px;
  text-align: center;
}
p {
  font-size: 30px;
  font-family: Nanum Gothic Coding, serif;
  color: #145780;
  text-align: center;
}
.red {
  color: rgb(201, 101, 101);
}
.zoo a {
  display: block;
  align-items: center;
  background-image: url('https://i.imgur.com/nj1febd.jpg');
  background-size: 500px;
  background-repeat: no-repeat;
  border-radius: 25px;
  border: 2px solid #145780;
  box-shadow: 2px 2px 2px 2px black;
}
.table a {
  display: block;
  align-items: center;
}
.list a {
  font-size: 40px;
  font-family: Nanum Gothic Coding, serif;
  color: #145780;
  text-decoration: none;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
  width: 1000px;
  height: 200px;
  margin: auto;
}
ul li a {
  padding: 10px;
  background-color: rgb(247, 234, 173);
}